<div class="panel {{cssClass}}">
  <div class="panel-body">
    <div class="col-sm-1">
      <form class="form">
        <div class="checkbox">
          <div class="hidden">{{todoStatus}}</div>
          {{input checked=todo.completed type='checkbox'}}
        </div>
      </form>
    </div>
    <div class="col-xs-8">
      <h5>{{todo.title}}</h5>
      <p>{{todo.description}}</p>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-xs btn-danger pull-right" {{action 'deleteTodo' todo}}>Delete</button>
    </div>
  </div>
</div>
