<div class="page-header row">
  {{#unless isEditing}}
    <h1>{{model.title}} <small><a {{action 'editList'}}>Edit</a> | <a {{action 'deleteList'}}>Delete</a></small></h1>
  {{else}}
    <form class="form-inline" {{action 'saveList' on='submit'}}>
      <div class="form-group">
        {{input value=model.title class="form-control"}}
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  {{/unless}}
</div>

{{outlet}}

